$bg-main: #5b64d6;
$bg-light: #e2d6f8;
$bg-gray: #f5f6f8;
$success: #42b983;
$danger: #b94242;

.chat-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: $bg-gray;
  height: 80%;
  width: 80%;
  transform: translate(-50%, -50%);
  margin: 0 !important;

  .chat-wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;

    @media (min-width: 800px) {
      //padding: 2rem 6rem;
      flex-direction: row;
    }
  }

  .online-status {
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }

  .online {
    background-color: $success;
  }

  .offline {
    background-color: $danger;
  }
}
